.hero {
    padding: 160px 20px 104px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../../../images/images/home/showcase.jpg);
    background-size: cover;

    @media screen and (min-width: 768px) {
        padding: 378px 122px;
    }

    @media screen and (min-width: 1360px) {
        padding: 270px 280px;
    }

    &_title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
        text-align: center;

        color: #FFFFFF;
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
            font-size: 55px;
            line-height: 75px;
        }
    }

    &_paragraph {

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        text-align: center;

        color: #FFFFFF;
        margin-bottom: 24px;

        @media screen and (min-width: 768px) {
            font-size: 40px;
            line-height: 48px;
        }

    }

    &_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 32px;
        gap: 10px;

        width: 175px;
        height: 57px;

        background: #28A745;

        border-radius: 5px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;

        &:hover,
        &:focus {
            cursor: pointer;
            background: #2EBF4F;
        }
    }




}

.svg {
    width: 9px;
    height: 18px;
    margin-right: 8px;
    fill: #FFFFFF;

}

.button_item {
    display: flex;
    align-items: center
}