.about {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }

    &_img {
        @media screen and (min-width: 768px) {
            object-fit: cover;
            height: 100%;

        }
    }

    &_container {
        background-color: #28A745;
        padding: 79px 20px;

        @media screen and (min-width: 768px) {
            padding: 62px 32px;
        }

        @media screen and (min-width: 768px) {
            padding: 80px 28px 86px 20px;
        }
    }


    &_paragraph {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 25px;
        }

    }


    &_title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
        margin-bottom: 24px;
        margin-top: 16px;

        @media screen and (min-width: 768px) {
            font-size: 40px;
            line-height: 48px;
            margin-right: 90px;
        }

    }

    &_button {
        width: 146px;
        height: 54px;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0);



        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;

        margin-top: 24px;

        &:hover,
        &:focus {
            cursor: pointer;
            background: #F4F4F4;
            border: none;
            color: #28A745;

        }


        @media screen and (min-width: 768px) {
            width: 156px;
            height: 57px;
        }



    }

}